@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.vertical-timeline::before {
  background: var(--line-color-mine);
}

.vertical-timeline-element-content > .MuiTypography-root {
  margin-top: 0;
}

.vertical-timeline-element-date {
  padding-bottom: 0 !important;
}
