html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}

a {
  color: #396b92;
  text-decoration-color: #396b92;
}

select {
  font-family: 'Quicksand';
}

ol {
  font-family: 'Quicksand';
}
